body {
  display:grid;
  min-height: 100vh;
  grid-template-columns: 1fr 12%; 
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas: "header header"
                       "nav nav"
                       "main aside"
                       "footer footer";
  margin: 0;
  padding: 0;
  color:white;
  background-color: #F0F9F9;  
  font-family: 'PT Sans', Arial, sans-serif;
}

header {  grid-area: header;
          background-color: #d8472a;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 120px;
          grid-gap: 10px;
          padding: 10px;
}
nav { grid-area: nav; 
      height: 40px;
      width: 100%;
      background: #9abc0d;
      font-size: 11pt;
      font-weight: bold;
      position: relative;
      border-bottom: 2px solid #576979;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
nav li a {
  border-right: 1px solid #576979;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}
nav a:hover, nav a:active {
  background-color: #afd70f;
}
nav a#pull {
  display: none;
}  
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
aside{ grid-area: aside; 
       background-color:#2d8ac0; 
       margin: 10px 10px 10px 10px;
       font-size: 2vmin;
       box-shadow: 1px 1px 1px #888888;
       padding: 10px;
       justify-self:center;
}

aside a:visited, aside a:link {
    color: white;
}
aside li {
    margin: 8px 0 8px 0;
}
ul , li {
      list-style-type: none; 
      padding: 0;
      margin: 0;
}

footer{ grid-area: footer;
        background-color:#d8472a; 
        text-align:right; padding: 0.5em;  
}

main{ grid-area: main; 
      color:black; 
      margin: 10px;
      display: grid;
      grid-template-columns: repeat(3 , minmax(300px, 450px));
      grid-auto-rows: auto;
      grid-gap: 15px;
      justify-content: center;
      
}
.titulo {
  justify-self:center;
}

.pesquisar {
  align-self: center;
}
.cesta {
  display: none;
}

.pesquisar input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 1em;
    background-color: white;
    background-image: url('img/search-icon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 18px 10px 38px;
}
a img {
    max-width: 100%;
    max-height: 100%;
}

h3 , p {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  body {
        grid-template-columns: 1fr; 
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
  }
  aside {
          display: none;
  } 
  .cesta {
    justify-self:center;
    display: block;
  }
}
@media screen and (max-width: 600px) {

  main{ 
      grid-template-columns: repeat(2 , minmax(250px, 350px));
      grid-auto-rows: minmax(200px, 400px);
    }
    
    header {  
          grid-template-rows: 80px;
          padding: 5px;
    }
    .pesquisar input[type=text] {
       font-size: 0.9em;  
  }
  
  nav { 
      height: auto;
    }
    nav ul {
      width: 100%;
      display: block;
      height: auto;
    }
    nav li {
      width: 50%;
      float: left;
      position: relative;
    }
    nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
    
}

@media only screen and (max-width : 480px) {
  main{ 
      grid-template-columns: minmax(250px, 1fr);
      grid-auto-rows: 400px;
    }
    input::placeholder {
      color: transparent;
    }

  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #9abc0d;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #576979;
  }
 
}