main {
      grid-template-columns: 1fr;
      grid-template-rows: min-content auto min-content;
      grid-gap: 10px;
      padding: 4%;
      background: white;
      border-radius: 5px;
      box-shadow: 1px 1px 1px #888888;
}

.carrinho-itens {
  display: grid;
  grid-template-columns: 0.8fr 1fr min-content min-content min-content min-content;
  grid-template-rows: min-content minmax(100px, 150px) min-content minmax(100px, 150px) min-content min-content min-content min-content;
  grid-gap:10px;

}

.carrinho-th {
  background: #2d8ac0;
  padding: 6px;
  color: white;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
}
.carrinho-prod  a:visited, .carrinho-prod a:link , .carrinho-finalizar a:visited, .prod-nome a:visited, .prod-nome a:link {
    color: black;
}

.carrinho-separador {
  grid-row: 3;
  grid-column: 1/ 7;
}
.carrinho-separador-2 {
  grid-row: 5;
  grid-column: 1/ 7;
}
.carrinho-separador-3 {
  grid-row: 7;
  grid-column: 1/ 7;
}
.carrinho-imagem {
  justify-self: center;
}
.carrinho-total {
  grid-row: 8;
  grid-column: 1/ 7;
  justify-self: end;
}
.carrinho-finalizar {
  justify-self: end;
}

input[type=number] {
  -webkit-appearance: none;
  border: 2px solid #ccc;
  width: 30px;
}
@media screen and (max-width: 1024px) {
  main {
        padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  
    /*.pesquisar input[type=text] {
       font-size: 0.9em;  
  }*/

  .carrinho-itens {
    grid-template-columns: 1fr 1fr min-content min-content min-content min-content;
    grid-gap:5px;
  } 
  .carrinho-th {
    padding: 3px;
    white-space: normal;
  }
  .carrinho-prod {
    font-size: 0.9em;
    
  }
}

@media only screen and (max-width : 480px) {
  
  
}
@media only screen and (max-width : 320px) {
  
 
}