.item {
  border: 1px solid #111;
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto min-content min-content;
  grid-template-areas: "imagem nome"
                       "imagem desc"
                       "imagem valor"
                       "quant comprar";
  
}
.promocao {
  border: 2px solid #D8472A;
  box-shadow: 3px 3px 3px #888888;
}
.promocao .prod-valor {
  color: red;
  font-size: 2em;
}
.prod-imagem {
    grid-area: imagem;
    justify-self:center;    
}
.prod-nome {
   grid-area: nome;
}
.prod-desc {
    grid-area: desc;
}
.prod-comprar {
    grid-area: comprar;
    justify-self:start;
}
.prod-valor {
  grid-area: valor;
  font-size: 1.5em;
}

.prod-quant {
  grid-area: quant;
  justify-self: end;
  align-self: center;
}
.prod-nome a:visited, .prod-nome a:link {
    color: black;
}

input[type=number] {
  -webkit-appearance: none;
  border: 2px solid #ccc;
  width: 30px;
}

@media screen and (max-width: 600px) {
  
    .pesquisar input[type=text] {
       font-size: 0.9em;  
  }
    .item {      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50% min-content auto min-content min-content;
      grid-template-areas: "imagem imagem"
                            "nome nome"
                            "desc desc"
                            "valor valor"
                            "quant comprar";
    }
    .prod-imagem {
      justify-self:center;
    }

}

@media only screen and (max-width : 480px) {
  
  .prod-imagem{
    justify-self:center;
  }
}

@media only screen and (max-width : 320px) {
  
 
}