main {
      grid-template-columns: repeat(3 , minmax(300px, 450px));
      grid-template-rows: minmax(300px, 350px) min-content minmax(200px, 300px);
}
  
.item {
  border: 1px solid white;
  background-color: #fff;
  padding: 8px;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto min-content min-content;
  grid-template-areas: "imagem nome"
                       "imagem desc"
                       "imagem valor"
                       "quant comprar";
  }
.selecionado {
  grid-column: 1/4;
  justify-self:center;
  margin: 4%;
}
.recomendacoes {
  grid-column: 1/4;
  justify-self:center;
}
.recomenda {
  font-size: 2vmin;
}
.recomenda .prod-valor {
  font-size: 1em;
}
.prod-imagem {
    grid-area: imagem;
    justify-self:center;    
}
.prod-nome {
   grid-area: nome;
}
.prod-desc {
    grid-area: desc;
}
.prod-comprar {
    grid-area: comprar;
    justify-self:start;
}
.prod-valor {
  grid-area: valor;
  font-size: 2em;
}

.prod-quant {
  grid-area: quant;
  justify-self: end;
  align-self: center;
}
.prod-nome a:visited {
    color: black;
}

input[type=number] {
  -webkit-appearance: none;
  border: 2px solid #ccc;
  width: 30px;
}
@media screen and (max-width: 1024px) {
    aside {
          display: block;
  } 
  body {
        grid-template-columns: 1fr minmax(150px, 200px); 
        grid-template-rows: min-content min-content auto min-content;
         grid-template-areas: "header header"
                       "nav nav"
                       "main aside"
                       "footer footer";
  }
  .cesta {
    display: none;
  }
}

@media screen and (max-width: 600px) {
   body {
        grid-template-columns: 1fr; 
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
  }
  main {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto min-content auto;
    }
     aside {
          display: none;
  } 
    #grid-2-excluir {
      display: none;
    }
    .selecionado {
      grid-column: 1/3;
      justify-self:stretch ;
      margin: 0;
    }
    .recomendacoes {
      grid-column: 1/3;
      justify-self:center;
    }
    .recomenda {
        font-size: 3vmin;
    }
    .pesquisar input[type=text] {
       font-size: 0.9em;  
  }
    .item {      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px min-content min-content min-content min-content;
      grid-template-areas: "imagem imagem"
                            "nome nome"
                            "desc desc"
                            "valor valor"
                            "quant comprar";
    }
    
     .cesta {
      display: block;
  }

}

@media only screen and (max-width : 480px) {
  
  
}

/*@media only screen and (max-width : 320px) {
  
 
}*/